<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<link href="prism.css" rel="stylesheet" />
</head>
<body>
	<pre class = language-java><code class="language-java" th:text="${code}">code</code></pre>
	<script src="prism.js"></script>
	<script>
		function sendContent() {
			var content = document.querySelector('code').outerHTML;
			fetch('http://localhost:8080/type', {
				method: 'POST',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ "formattedCode": content })
			})
		}

	</script>
	<a href="http://localhost:8080/typing"><button onclick="sendContent()" id="result">Press me and see result! </button></a>

</body>
</html>